Primeiro Codigo por Aqui

In [11]:
import numpy as np
minha_lista = [1,2,3]
minha_lista
np.array(minha_lista)
minha_matriz = [(1,2,3),(3,4,5),(6,7,8)]
np.array(minha_matriz)

array([[1, 2, 3],
       [3, 4, 5],
       [6, 7, 8]])

In [13]:
np.arange(0,10) 
np.arange(0,10, 2) 
arr = np.zeros(5) 
arr 
arri = np.zeros((5,5)) 
arri 
np.eye(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [21]:
np.random.rand(4)

array([0.43497859, 0.96686721, 0.87684183, 0.8588868 ])

In [23]:
np.random.randint(4,100,7)

array([ 8, 92, 30, 83, 57, 17, 74])

In [31]:
np.random.rand(4,5,5)

array([[[0.20407774, 0.23868338, 0.69040404, 0.98003337, 0.45335763],
        [0.64109621, 0.42267239, 0.25350554, 0.24099187, 0.43660511],
        [0.84122921, 0.73718881, 0.29767794, 0.45497658, 0.53196431],
        [0.06682063, 0.15439952, 0.0153561 , 0.39238543, 0.57753259],
        [0.03329388, 0.23573267, 0.40677035, 0.78337437, 0.23303295]],

       [[0.59946877, 0.48855342, 0.19493945, 0.38248344, 0.79578586],
        [0.1039561 , 0.84999978, 0.15251497, 0.76281093, 0.11640099],
        [0.38021972, 0.69370437, 0.58481568, 0.07401905, 0.98460672],
        [0.14173213, 0.77353186, 0.41361968, 0.01298858, 0.62578176],
        [0.69028917, 0.63865129, 0.46259718, 0.15849508, 0.0435909 ]],

       [[0.55554229, 0.87230584, 0.28336524, 0.22156142, 0.30154943],
        [0.60274859, 0.1754024 , 0.64074122, 0.45444196, 0.66120757],
        [0.89353601, 0.38408035, 0.10687841, 0.92399052, 0.87071521],
        [0.51377122, 0.75307002, 0.74162293, 0.55630162, 0.04408135],
        [0.77693841, 0.62975371, 0.99313681, 0.89063591, 0.40001227]],

       [[0.43189524, 0.13498554, 0.10911248, 0.67769263, 0.99810745],
        [0.85718442, 0.59472205, 0.24472906, 0.36562701, 0.7112719 ],
        [0.10296281, 0.57734557, 0.12879172, 0.06552217, 0.62845541],
        [0.10805629, 0.98689515, 0.90586647, 0.09075218, 0.83452673],
        [0.42539866, 0.98475461, 0.54434242, 0.00719225, 0.2055287 ]]])

In [33]:
import pandas as pd
labels = ['a','b','c'] 
lista = [10,20,30] 
arr = np.array([10,20,30]) 
d = {"a":10,'b':20,'c':30} 
pd.Series(data=lista,index=labels)

a    10
b    20
c    30
dtype: int64

In [35]:
s = pd.Series(data=lista,index=labels) 
s["b"]

20

In [37]:
ser = pd.Series([1,2,3,4],['eua','alemanha','urss','brasil']) 
ser

eua         1
alemanha    2
urss        3
brasil      4
dtype: int64

In [43]:
np.random.seed(101) 
df = pd.DataFrame(np.random.randn(5,4),index='a b c d e'.split(), columns='w x y z'.split()) 
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [45]:
df[['w','y']]

          w         y
a  2.706850  0.907969
b  0.651118 -0.848077
c -2.018168  0.528813
d  0.188695 -0.933237
e  0.190794  2.605967

In [47]:
df['new'] = df['w'] + df['y'] 
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  3.614819
b  0.651118 -0.319318 -0.848077  0.605965 -0.196959
c -2.018168  0.740122  0.528813 -0.589001 -1.489355
d  0.188695 -0.758872 -0.933237  0.955057 -0.744542
e  0.190794  1.978757  2.605967  0.683509  2.796762

In [49]:
df = df.drop('new',axis=1) 
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [51]:
df.loc['a','x']

0.6281327087844596

In [57]:
dic = {'a': [1, 2, np.nan], 'b': [3, np.nan, np.nan], 'c': [4, 5, np.nan]} 

dff = pd.DataFrame(dic) 

dff

     a    b    c
0  1.0  3.0  4.0
1  2.0  NaN  5.0
2  NaN  NaN  NaN

In [59]:
dff.dropna(thresh=2)

     a    b    c
0  1.0  3.0  4.0
1  2.0  NaN  5.0

In [61]:
dff.fillna (value='None')

      a     b     c
0   1.0   3.0   4.0
1   2.0  None   5.0
2  None  None  None